@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');



body
{
    background: url("../media/forestbackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Header */
header
{
    width: 1200px;
    height: 160px;
    font-family: 'Press Start 2P', cursive;
    margin: 0 auto;
}

header h1
{
    font-size: 70px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px black, 0 0 25px #3076CC, 0 0 5px #3076CC; /* #3DC4FF */
}
/* Main Body */
main
{
    width: 1000px; /* 1000 px */
    height: 805px; /* 805 px */
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(84, 106, 123, 0.9); /* (84, 106, 123) */
    font-family: 'Press Start 2P', cursive;
    color: white;
}

/* Navigation */
nav ul
{
    margin-top: 0;
    padding-left: 0;
    margin-left: 0;
    background-color: #0D1F2D;
    color: white;
    float: left;
    width: 100%;
    font-size: 25px;
}

nav ul li 
{ 
    display: inline; 
    font-family: 'Press Start 2P', cursive;
}

nav ul li a
{
    padding: 0.5em 1em;
    background-color: #0D1F2D;
    color: white;
    text-decoration: none;
    float: left;
    border-right: 1px solid #fff;
}

nav ul li a:hover
{
    background-color: #546a7b; /* #111131 */
    color: #fff;
}

/* Body Container for Proposal and Documentation Page */
.bodycontainer
{
    padding: 2%;
}
.bodycontainer h2
{
    font-size: 14px;
    margin: 0;
}
.bodycontainer p, li
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.bodycontainer ol li {
    word-wrap: break-word;
}
}

/* Body Container for Home Page */
#homebody h2
{
    font-size: 20px;
}

#homebody p
{
    font-size: 18px;
}

#homebody img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

/* Proposal Page Images */
#forestimage, playerwalkcycle
{
    float: left;
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 1px;
    
}

/* Link Styling */
2
.bodycontainer a:link
{
    color: #3076CC;
}
.bodycontainer a:visited
{
    color: #D379AD; /* D424D8 */
}

.bodycontainer a:hover
{
    color: #FFD12B;
}
.bodycontainer a:active
{
    color: #FFAD2B;
}


/* Responsive Design */
@media screen and (max-width: 480px) 
{
    body
    {
        width: 100%;
    }
    /* Header */
    header
    {
        width: 90%;
        height: 10%;
    }
    header h1
    {
        font-size: 40px;
    }
    /* Main Content Wrapper */
    main
    {
        width: 90%;
        height: 90%;
        margin: 0 auto;
    }
    /* Body Container for Home Page */
    #homebody h2
    {
        font-size: 14px;
    }
    #homebody p
    {
        font-size: 12px;
    }
    #homebody img
    {
        max-width: 100%;
        height: auto;
    }
    /* Body Container for Proposal and Documentation Pages */
    .bodycontainer h2
    {
        font-size: 14px;
    }
    .bodycontainer p, li, a
    {
        font-size: 12px;
    }
    .bodycontainer li a
    {
        width: 90%;
    }
    /* Proposal Page Images */
    #forestimage, playerwalkcycle
    {
        display: block;
        max-width: 100%;
        height: auto;
    }
    /* Navigation */
    nav ul
    {
        margin: 0 0 10px;
    }
    nav ul li
    {
        display: block; 
    }
    nav ul li a
    {
        border-right: none;
        display: block;
        text-align: center;
        border-bottom: 1px solid #fff;
        width: 90%;
    }

    
} 
/* https://coolors.co/0d1f2d-546a7b-9ea3b0-ffffff-d2d7df */